.header {
  background-color: rgba(255, 255, 255, 0.8);
  border-bottom: 1px solid rgba(226, 232, 240, 0.6);
  backdrop-filter: blur(12px);
}

.logoBadge {
  box-shadow: 0 10px 15px -3px rgba(224, 242, 254, 1), 0 4px 6px -4px rgba(224, 242, 254, 1);
}
